{% extends 'SportManagerApp/base.html' %}

{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'SportManagerApp/styles/competition_detail.css' %}">
</head>
<div class="container">
    <h2>{{ competition.name }}</h2>
    <div class="match-list">
        <h3>Matches</h3>
        <ul>
            {% for match in matches %}
                <li>
                    <div class="match-details">
                        <span>{{ match.team1 }}</span>
                        <span>{{ match.score1 }}</span>
                        <span>:</span>
                        <span>{{ match.score2 }}</span>
                        <span>{{ match.team2 }}</span>
                    </div>
                    <div class="match-info">
                        <span>Duration: {{ match.duration }} hours</span>
                    </div>
                    <div class="match-location">
                        <span>Location: {{ match.location }}</span>
                    </div>
                </li>
            {% empty %}
                <p>No matches available for this competition.</p>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}