{% extends 'SportManagerApp/base.html' %}

{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'SportManagerApp/styles/match_list.css' %}">
</head>
<div class="container">
    <h2>Matches List</h2>
    <div class="match-list">
        <h3>Matches</h3>
        <ul>
            {% for match in matches %}
                <li class="match-item">
                    <div class="match-details">
                        <span>{{ match.matchteam_set.all.0.team.name }}</span>
                        <span>{{ match.matchteam_set.all.0.team_score }}</span>
                        <span>:</span>
                        <span>{{ match.matchteam_set.all.1.team_score }}</span>
                        <span>{{ match.matchteam_set.all.1.team.name }}</span>
                    </div>
                    <div class="match-info">
                        <span>Duration: {{ match.duration }}</span>
                    </div>
                    <div class="match-location">
                        <span>Location: {{ match.location }}</span>
                    </div>
                    <div class="match-actions">
                        <a href="{% url 'match_update' match.pk %}" class="update-button">Update</a>
                        <form method="post" action="{% url 'match_delete' match.pk %}" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="delete-button">Delete</button>
                        </form>
                    </div>
                </li>
            {% empty %}
                <p>No matches available.</p>
            {% endfor %}
        </ul>
        <a href="{% url 'match_create' %}" class="create-button">Add New Match</a>
    </div>
</div>
{% endblock %}
