{% extends 'SportManagerApp/base.html' %}

{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'SportManagerApp/styles/match_form.css' %}">

<div class="container">
    <h2>Confirm Delete</h2>
    <p>Are you sure you want to delete the match?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="button">Confirm Delete</button>
        <a href="{% url 'match_list' %}" class="button">Cancel</a>
    </form>
</div>
{% endblock %}
