{% extends 'SportManagerApp/base.html' %}

{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'SportManagerApp/styles/team_form.css' %}">

<div class="container">
    <h2>{% if form.instance.pk %}Update Team{% else %}Create Team{% endif %}</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.name.label_tag }} {{ form.name }}
        {{ form.city.label_tag }} {{ form.city }}
        {{ form.sport_type.label_tag }} {{ form.sport_type }}
        <button type="submit" class="button">{% if form.instance.pk %}Update{% else %}Create{% endif %}</button>
    </form>
</div>
{% endblock %}
