{% extends 'SportManagerApp/base.html' %}

{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'SportManagerApp/styles/team_list.css' %}">

<div class="container">
    <h2>Team List</h2>
    <ul class="team-list">
        {% for team in teams %}
            <li class="team-item">
                <a href="{% url 'team_detail' team.pk %}">{{ team.name }}</a>
                {% if user.is_authenticated and user.role == 'admin' %}
                    <div class="admin-actions">
                        <a href="{% url 'team_update' team.pk %}" class="update-button">Update</a>
                        <a href="{% url 'team_delete' team.pk %}" class="delete-button">Delete</a>
                    </div>
                {% endif %}
            </li>
        {% empty %}
            <p>No teams available.</p>
        {% endfor %}
    </ul>
    {% if user.is_authenticated and user.role == 'admin' %}
        <a href="{% url 'team_create' %}" class="create-button">Create Team</a>
    {% endif %}
</div>
{% endblock %}
