{% extends 'SportManagerApp/base.html' %}

{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'SportManagerApp/styles/training_form.css' %}">
</head>
<div class="container">
    <h2>{% if training %}Edit Training{% else %}Create Training{% endif %}</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">{% if training %}Save Changes{% else %}Create Training{% endif %}</button>
    </form>
</div>
{% endblock %}
