{% extends 'SportManagerApp/base.html' %}

{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'SportManagerApp/styles/training_detail.css' %}">
</head>
<div class="container">
    <h2>Training Details</h2>
    <p><strong>Date and Time:</strong> {{ training.datetime|date:"Y-m-d H:i:s" }}</p>
    <p><strong>Location:</strong> {{ training.location }}</p>
    <p><strong>Duration:</strong> {{ training.duration }} hours</p>
    <h3>Participants</h3>
    <ul class="participant-list">
        {% for user_training in user_trainings %}
            <li class="participant-item">{{ user_training.user.email }} - Intensity: {{ user_training.intensity }}</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
