{% extends 'SportManagerApp/base.html' %}

{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'SportManagerApp/styles/training_list.css' %}">
</head>
<div class="container">
    <div class="calendar-header">
        
        <h2><a href="{% url 'training_list' previous_month.year previous_month.month %}" class="nav-button">&laquo; Previous </a>{{ current_month }} {{ current_year }}<a href="{% url 'training_list' next_month.year next_month.month %}" class="nav-button"> Next &raquo;</a></h2>
        
    </div>
    <div class="calendar">
        {% for day in days_in_calendar %}
            <div class="day {% if day.trainings %}training-day{% endif %}">
                <div class="date">{{ day.date|date:"j" }}</div>
                <div class="trainings">
                    {% for training in day.trainings %}
                        <div class="training">
                            <a href="{% url 'training_detail' training.pk %}">{{ training.location }}</a>
                            {% if user.is_authenticated %}
                                {% if user.role == 'admin' or user.role == 'coach' %}
                                    <a href="{% url 'training_update' training.pk %}" class="edit-button">Edit</a>
                                    <form method="post" action="{% url 'training_delete' training.pk %}" style="display:inline;">
                                        {% csrf_token %}
                                        <button type="submit" class="delete-button">Delete</button>
                                    </form>
                                {% endif %}
                            {% endif %}
                        </div>
                    {% endfor %}
                    {% if not day.trainings %}
                        {% if user.is_authenticated %}
                            {% if user.role == 'admin' or user.role == 'coach' %}
                                <a href="{% url 'training_create' day.date|date:'Y-m-d' %}" class="add-button">Add Training</a>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}