{% extends 'SportManagerApp/base.html' %}

{% load static %}

{% block content %}
<head>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'SportManagerApp/styles/user_detail.css' %}">
</head>
<div class="user-details">
    <h2>User Profile</h2>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>First Name:</strong> {{ user.first_name }}</p>
    <p><strong>Age:</strong> {{ user.age }}</p>
    <p>
        <strong>Height:</strong> 
        <span id="height" data-original-height="{{ user.height }}">{{ user.height }}</span> 
        <span id="height-unit">cm</span>
    </p>
    <p>
        <strong>Weight:</strong> 
        <span id="weight" data-original-weight="{{ user.weight }}">{{ user.weight }}</span> 
        <span id="weight-unit">kg</span>
    </p>
    <button onclick="toggleUnits()" id="toggleButton">Toggle to Imperial Units</button>
</div>

<div class="training-history">
    <h2>Recent Trainings:</h2>
    <ul>
        {% for training in trainings %}
        <li>
            <p><strong>Date and time:</strong> {{ training.training.datetime|date:"Y-m-d H:i" }}</p>
            <p><strong>Location:</strong> {{ training.training.location }}</p>
            <p><strong>Intensity:</strong> {{ training.intensity }} bpm</p>
        </li>
        {% endfor %}
    </ul>
</div>

<div class="training-recommendations">
    <h2>Training Recommendations</h2>
    <p>{{ recommendation }}</p>
</div>

<script src="{% static 'SportManagerApp/scripts/convert_units.js' %}"></script>

{% endblock %}
