{% extends 'SportManagerApp/base.html' %}

{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'SportManagerApp/styles/user_form.css' %}">

<div class="container">
    <h2>{% if form.instance.pk %}Update User{% else %}Create User{% endif %}</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.email.label_tag }} {{ form.email }}
        {{ form.password.label_tag }} {{ form.password }}
        {{ form.team.label_tag }} {{ form.team }}
        {{ form.first_name.label_tag }} {{ form.first_name }}
        {{ form.age.label_tag }} {{ form.age }}
        {{ form.gender.label_tag }} {{ form.gender }}
        {{ form.height.label_tag }} {{ form.height }}
        {{ form.weight.label_tag }} {{ form.weight }}
        <label for="id_role">Role:</label>
        <select id="id_role" name="role">
            <option value="sportsman" {% if form.instance.role == 'sportsman' %}selected{% endif %}>Sportsman</option>
            <option value="coach" {% if form.instance.role == 'coach' %}selected{% endif %}>Coach</option>
            <option value="admin" {% if form.instance.role == 'admin' %}selected{% endif %}>Admin</option>
        </select>
        <button type="submit" class="button">{% if form.instance.pk %}Update{% else %}Create{% endif %}</button>
    </form>
</div>
{% endblock %}
