{% extends 'SportManagerApp/base.html' %}

{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'SportManagerApp/styles/user_list.css' %}">

<div class="container">
    <h2>User List</h2>
    <ul class="user-list">
        {% for user in users %}
            <li class="user-item">
                <a href="{% url 'user_detail' user.user_id %}">{{ user.email }}</a>
                    <div class="admin-actions">
                        <a href="{% url 'user_update' user.user_id %}" class="update-button">Update</a>
                        <a href="{% url 'user_delete' user.user_id %}" class="delete-button">Delete</a>
                    </div>
            </li>
        {% endfor %}
    </ul>
    {% if user.is_authenticated and user.role == 'admin' %}
        <a href="{% url 'user_create' %}" class="create-button">Create User</a>
    {% endif %}
</div>
{% endblock %}
