body {
    font-family: 'Rubik', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 50px auto;
}

h2 {
    text-align: center;
    color: #333;
    font-weight: 500;
    margin-bottom: 30px;
}

.actions {
    text-align: center;
    margin-bottom: 20px;
}

.button {
    background-color: #51f56f;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
    transition: background-color 0.3s ease;
    display: inline-block;
    margin: 5px;
}

.button:hover {
    background-color: #32c44a;
}

.match-list {
    margin-top: 20px;
}

.match-list h3 {
    font-weight: 500;
    color: #555;
    margin-bottom: 20px;
    text-align: center;
}

.match-list ul {
    list-style-type: none;
    padding: 0;
}

.match-list li {
    background-color: #e9e9e9;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.match-list li:nth-child(odd) {
    background-color: #dcdcdc;
}

.match-list .match-details,
.match-list .match-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.match-list .match-details span,
.match-list .match-info span {
    margin: 0 5px;
}

.match-list .match-info {
    font-size: 14px;
    color: #666;
}
