.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Rubik', sans-serif;
}

.container h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}

.nav-button {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.nav-button:hover {
    background-color: #0056b3;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.calendar-header h2 {
    margin: 0;
}

.calendar-header a {
    text-decoration: none;
    color: inherit;
}


.week {
    display: contents;
}

.day {
    padding: 10px;
    border: 1px solid #dcdcdc;
    background-color: #f9f9f9;
    text-align: center;
    position: relative;
    min-height: 100px;
    transition: background-color 0.3s;
}

.day.training-day {
    background-color: #d1e7dd;
    border-color: #badbcc;
}

.date {
    font-weight: bold;
    color: #495057;
}

.trainings {
    margin-top: 10px;
}

.training {
    background-color: #0d6efd;
    padding: 5px;
    margin-top: 5px;
    border-radius: 4px;
    color: white;
    text-align: left;
    font-size: 14px;
    position: relative;
}

.training a {
    text-decoration: none;
    color: white;
}

.training a:hover {
    text-decoration: underline;
}

.edit-button, .delete-button, .add-button {
    display: block;
    margin-top: 5px;
    padding: 5px;
    background-color: #198754;
    color: white;
    text-align: center;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s;
    font-size: 12px;
    cursor: pointer;
}

.edit-button:hover, .delete-button:hover, .add-button:hover {
    background-color: #157347;
}

.button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #198754;
    color: white;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
    font-size: 16px;
}

.button:hover {
    background-color: #157347;
}

@media (max-width: 768px) {
    .calendar {
        grid-template-columns: repeat(3, 1fr);
    }
    .button {
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 480px) {
    .calendar {
        grid-template-columns: repeat(2, 1fr);
    }
    .day {
        padding: 5px;
    }
}
